<head>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<div id="page-wrapper">
    <div class="default">
        <div id="sc-wrap">
            <div id="shopping-cart">

            </div>
        </div>
        <div id="wallet-wrap">
            <div id="wallet">
                
            </div>
        </div>
        <div id="ab-wrap"><div id="access-bar">
            <button id="home" class="homebtn"><a href="/welcome">Home</a></button>
            <button id="logout" class="homebtn"><a href="/logout">Logout</a></button>
        </div></div>
    </div>
</div>