

/* LANDING */


#page-wrapper {
    position: absolute;
    margin: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
#loginpage {
    height: 100%; 
    width: 100%;
    opacity: 0.8;
    position: relative;
    margin: none;
    background-image: url('./resources/photo-1553095066-5014bc7b7f2d.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    margin: none;
    padding: none;
    background-color: rgb(70, 86, 150);
    border: 1px solid rgb(70, 86, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}
#wrap-uf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#user-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#user-form *, #register-form * {
    margin: 5px;
    line-height: 1.5;
    font-size: 120%;
}
.title {
    color: rgba(206, 166, 106, 0.689);
    display: block;
    position: absolute;
    align-self: center;
    top: 20%;
    font-size: 500%;
    -webkit-text-stroke: 1px rgb(85, 57, 14);
}
#wrap-l {
    position: absolute; 
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}
#login {
    position: absolute;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.044);
}
#login:hover {
    color:rgba(206, 166, 106, 0.689)
}
#login:active {
    color: white;
}
#login-status {
    color: rgb(184, 184, 184, 0.5);
}
#wrap-ls {
    position: absolute; 
    bottom: 20%;
    width: 100%;
    display: flex; 
    justify-content: center;
}


/* REGISTER PAGE */ 


#register-form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
}
#register-form label {
    color: white;
    font-size: bold;
}
 #register-page #register-title {
    position: absolute;
    top: 5px;
} 
#username, #password {
    background-color: rgba(173, 216, 230, 0.5);
    display: inline-block;
    border-bottom: 2px solid white;
}
#register-div {
    position: absolute;
    min-height: 60%;
    max-height: 80%;
    min-width: 50%;
    border: 4px solid rgb(34, 42, 76);
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 30%;
}
#register-div * {
    display: block;
}
#existing-user {
    position: relative;
    min-width: 100%;
    bottom: 0;
    left: 0;
}
#register-new-user {
    color: rgb(0, 180, 0);
    -webkit-text-stroke: 1px rgb(0, 93, 0);
    position: relative;
    min-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    justify-self: center;
} 
#register-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-top: 10%;
    padding: none;
}
#nickname {
    background-color: rgba(51, 255, 61, 0.3);
}
#wrap-r {
    position: absolute;
    bottom: 10%;
    width: 25%;
}
#register {
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.496);
    color: rgba(255, 255, 255, 0.5);
    font-size: 150%;
    border: none;
}
#register:hover {
    border: 1px solid white;
    color: white;
}
#register:active {
    border: none;
    color: green;
}
#register-status {
    position: absolute;
    bottom: 20%;
    color: rgb(72, 72, 72);
}
#wrap-rs {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* WELCOME PAGE */ 


.balance {
    color: grey;
}
.expr {
    position: absolute;
    top: 5px;
    font-size: 115%;
    color: rgb(0, 0, 0, 0.01);
}
.expr:hover {
    color: rgba(255, 255, 255, 0.1);
}
.homebtn:link {
    color: black;
}
.homebtn:visited {
    color: black;
}
.homebtn:hover {
    color: darkred;
}
#wm {
    position: absolute;
    left: 25px;
    top: 10px;
    border-bottom: 2px solid rgb(14, 0, 91);
    padding: 10px 80px 10px 80px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#select-filter {
    position: absolute;
    height: 175px;
    width: 400px;
    z-index: 10;
    color: yellow;
    right: 4%;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.submit-element {
    width: 150px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    transition: all 500ms ease;
}
#submit-fire:hover {
    background-color: red;
    color: orange;
} #submit-ice:hover {
    background-color: lightblue;
    color: blue;
} #submit-spirit:hover {
    background-color: burlywood;
    color: brown;
} #submit-shadow:hover {
    background-color: darkviolet;
    color: gold;
} #submit-all:hover {
    background-color: black;
    color: white;
}

#submit-all {
    width: 60px;
    height: 80%;
    position: absolute;
    left: -50px;
    top: 0;
}

/* SHOP AND CARDS */


#shop {
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    display: flex;
    align-items: center;
    height: 50vh;
    width: 90vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
}
#shop.no-border {
    border: none;
}
#shop::-webkit-scrollbar {
    color: rgb(70, 86, 150);
    position: absolute;
}
#shop::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 25px;
}
#card-wrap {
    display: flex;
    position: absolute;
    left: 50px;
}
.card {
    padding: 10px;
    width: 150px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    font-family:fantasy;
    transition: font-size 300ms ease; 
    font-size: 90%;
}
.card:hover {
    cursor: pointer;
    font-size: 100%;
}
.card section {
    border: 2px solid black;
    box-sizing:border-box;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
}
.card-title {
    top: 0;
    height: 20%;
    font-size: 105%;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
}
.card-icons {
    top: 20%;
    height: 20%;
}
.card-desc {
    top: 40%;
    height: 60%;
}
.card-logo {
    width: 25px;
    height: 25px;
}
#spell-element-wrap * {
    margin: 10px;
}
#spell-info-wrap {
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-spacing: 2px;
}
#info-bg {
    position: absolute;
    height: 0px;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    z-index: 0;
}

/** color palettes **/
.card-white {
    background-color: rgb(231, 246, 121);
}
.card-white .card-title {
    color: brown;
    -webkit-text-stroke: 1px burlywood;
}
.card-pink {
    background-color: rgb(180, 35, 60);
}
.card-pink .card-title {
    color: red;
    -webkit-text-stroke: 1px orange;
}
.card-blue {
    background-color: aqua;
}
.card-blue .card-title {
    color: blue;
    -webkit-text-stroke: 1px lightblue;
}
.card-purple {
    background-color: purple;
}
.card-purple .card-title {
    color: gold;
    -webkit-text-stroke: 1px rgb(80, 80, 80);
}

/** **/

#info-bg-admin {
    box-shadow: 0px 0px 100px 15px rgb(68, 255, 0);
    position: absolute;
    height: 0px;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    z-index: 0;
}
#spell-rank {
    z-index: 2;
}
#featured {
    position: absolute;
    color:rgba(0, 0, 0, 0.25);
    top: 80%;
}
.spell-btn {
    background: none;
    border: none;
    position: relative;
}
.spell-btn:hover {
    animation: hover 500ms infinite alternate;
}

/* SHOPPING CART */

#sc-wrap {
    position: absolute;
    width: 50%;
    left: 20px;
    top: 20px;
    bottom: 20px;
    display: grid;
}
.cart-item {
    box-shadow: 0px 0px 5px 5px inset black;
    margin-top: 10px;
    line-height: 2.5;
    font-size: 120%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.cart-item:hover {
    box-shadow: 0px 0px 5px 5px inset red;
}
.cart-item * {
    margin-top: 15px;
}
#wallet-wrap {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 30%;
    height: 15%;
    display: grid;
    font-size: 125%;
}
#wallet-name {
    background-color: black;
    color: yellow;
    height: 80px;
}
#wallet-gold, #wallet-gems {
    background-color: rgba(118, 118, 118, 0.5);
}
#wallet-info-gems {
    color: rgb(176, 0, 176);
}
#wallet-info-gold {
    color: yellow;
}
.wallet-info-wrap {
    position: relative;
    width: 100%;
    border-top: 1px solid black;
    margin: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.wallet-info-wrap * {
    margin: 5px;
}
.cart-cancel {
    height: 30px;
    width: 30px;
    position: relative;
    right: 10px;
}
#shopping-cart {
    overflow-y: auto;
}
#shopping-cart a:link {
    color: black;
}
#shopping-cart a:visited {
    color: black
}
#shopping-cart a:hover {
    color: red;
}
#shopping-cart a:active {
    text-decoration: none;
}
#total-period {
    position: absolute;
    left: 10px;
    font-size: 250%;
    color:rgba(0, 0, 0, 0.15);
    bottom: 20%;
}
#purchase-total {
    font-weight: bolder;
    margin-left: 10px;
}
#purchase-bar {
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-spacing: 5px;
}
#purchase-error {
    position: absolute;
    z-index: 0;
    font-size: 200%;
    color:rgba(118, 118, 118, 0.25);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.3);
}
#checkout {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -5px;
    width: 150px;
    min-height: 100%;
    background: none;
    border: 5px solid black;
    border-bottom: none;
    border-radius: 5px;
}
#checkout:hover {
    color: rgb(41, 164, 41);
    font-size: 130%;
    -webkit-text-stroke: 1px green;
}

/* MINIGAME */ 


#claim {
    display: none;
    background-color:rgb(249, 249, 124);
    border: 3px solid green;
    padding-left: 20px;
    padding-right: 20px;
}
#claim.general-fade {
    display: inline-block;
    animation: general-fade 1500ms forwards;
}
button {
    text-align: center;
}
#claimgold {
    display: flex;
    align-items: center;
}
#claimgold * {
    text-align: center;
}
#claim-gold {
    color: rgb(25, 185, 41);
}
#gem-image {
    opacity: 0%;
    transition: opacity 2500ms ease;
}
#gem-image.image-fade {
    display: inline-block;
    opacity: 100%;
}
#pg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    height: 350px;
    min-width: 100%;
    border-top: 2px solid rgb(25, 185, 41); 
    border-bottom: 2px solid rgb(25, 185, 41);
    color: rgb(249, 249, 124);
    overflow: hidden;
}

#play-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    color: rgb(25, 185, 41);
}
#play-overlay.visible {
    display: flex;
    animation: overlay-grow 1500ms forwards;
}
#play-overlay.fade {
    display: flex;
    position: absolute;
    animation: overlay-fade 1500ms forwards;
} 
#play-overlay:hover {
    cursor: pointer;
}
#play-game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    font-size: 120%;
    color: rgb(25, 185, 41);
}
#play-form {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
#play-input {
    margin-top: 20px;
    height: 50px;
    font-size: 200%;
    width: 150px;
    text-align: center;
}
#play-question {
    position: absolute;
    top: 25px;
}
#play-submit {
    position: absolute;
    bottom: -60px;
    padding: 5px;
    background-color:rgb(249, 249, 124);
    color:rgb(85, 57, 14);

}
#play-status {
    visibility: hidden;
    position: absolute;
    bottom: -5px;
}
#play-status.status-fade {
    visibility: visible;
    animation: status-fade 1500ms forwards;
}
#minigame {
    background-color: green;
    color: white;
}

/*** MISC UI ***/

.user-btn {
    width: auto;
    border-radius: 10px;
    padding: 10px;
    float: center;
}
button:hover {
    cursor: pointer;
}
a {
    text-decoration-line: none;
}
button {
    font-weight: bolder;
    font-size: 120%;
    line-height: 1.3;
}
#ab-wrap {
    position: absolute;
    bottom: 3%;
    right: 50px;
    max-height: 150px;
    background-color:rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 5px black inset;
}
#access-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#access-bar * {
    margin: 15px;
    height: 50px;
}
.ui-btn {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.178);
}
#register-btn-wrap .ui-btn:hover {
    color: white;
    -webkit-text-stroke: 1px rgba(206, 166, 106, 0.689);
}
#logout {
    background-color: rgb(255, 81, 0);
    color: rgb(93, 0, 0);
}



/* ANIMATIONS */ 


@keyframes overlay-fade {
    from {
        left: 0;
    } 
    to {
        left: 50%;
    }
}
@keyframes overlay-grow {
    from {
        font-size: 0
    }
    to {
        font-size: 120;
    }
}
@keyframes status-fade {
    from {
        font-size: 0
    } 
    to {
        font-size: 100%;
    }
}
@keyframes general-fade {
    from {
        font-size: 20%;
    }
    to {
        font-size: 100%;
    }
}
@keyframes hover {
    from {
        bottom: 0px;
    }
    to {
        bottom: 5px;
    }
}


/* MEDIA QUERY */


@media only screen and (max-width: 920px) {
    #login {
        top: 100px;
    }
    #shop {
        overflow-y: auto;
    }
}

@media only screen and (max-width: 650px) {
    .cart-item {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 75%;
    }
    #checkout {
        border-bottom: 5px solid black;
    }
    #total-period {
        display: none;
    }
    #purchase-section {
        position: relative;
        top: 80px;
        width: 400px;
        height: 75%;
    }
    #purchase-bar {
        border-bottom: none;
    }
    #shop {
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .spell-btn {
        margin-top: 50px;
    }
    #sc-wrap {
        bottom: 20%;
    }
    #wallet-wrap {
        height: auto;
        width: 35%;
    }
    #wallet-gold, #wallet-gems {
        height: 30px;
    }
    #wallet-gems {
        margin-top: 0;
    }
} 
@media only screen and (max-width: 480px) { 
    .title {
        font-size: 250%;
        top: 25%;
    }
    #wm {
        padding: 10px 15px 10px 15px;
        left: 5px;
        top: 0px;
    }
    #ab-wrap {
        padding: 10px;
        right: 10px;
        left: 10px;
        bottom: 0;
    }
}
@media only screen and (max-width: 400px) {
    .wallet-info-wrap {
        padding-left: 5px;
    }
    #access-bar * {
        margin: 10px;
        height: 50px;
    }
    #play-question {
        left: 15px;
    }
    .homebtn {
        width: 40%;
    }
}