#page-wrapper {
    position: absolute;
    margin: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
#loginpage {
    height: 100%; 
    width: 100%;
    opacity: 0.8;
    position: relative;
    margin: none;
    background-image: url('./resources/photo-1553095066-5014bc7b7f2d.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    margin: none;
    padding: none;
    background-color: rgb(70, 86, 150);
    border: 1px solid rgb(70, 86, 150);
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#user-form *, #register-form * {
    margin: 5px;
    line-height: 1.5;
    font-size: 120%;
}
#register-form {
    display: flex;
    justify-content: center;
}
#register-form label {
    color: white;
    font-size: bold;
}
.title {
    color: rgba(206, 166, 106, 0.689);
    display: block;
    position: absolute;
    align-self: center;
    top: 20%;
    font-size: 500%;
    -webkit-text-stroke: 1px rgb(85, 57, 14);
}
 #register-page #register-title {
    position: absolute;
    top: 5%;
} 
#username, #password {
    background-color: rgba(173, 216, 230, 0.5);
    display: inline-block;
    border-bottom: 2px solid white;
}
.balance {
    color: grey;
}
#wm {
    position: relative;
    left: 25px;
}
#logout {
    position: absolute;
    bottom: 10px;
    right: 50px;
}
.user-btn {
    width: auto;
    border-radius: 10px;
    padding: 10px;
    float: center;
}
button:hover {
    cursor: pointer;
}
#register-div {
    position: absolute;
    min-height: 60%;
    max-height: 80%;
    min-width: 50%;
    border: 4px solid rgb(34, 42, 76);
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 30%;
}
#register-div * {
    display: block;
}
.ui-btn {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.178);
}
#existing-user {
    position: relative;
    min-width: 100%;
    bottom: 0;
    left: 0;
}
a {
    text-decoration-line: none;
}
button {
    font-weight: bolder;
    line-height: 2;
}
#register-new-user {
    position: relative;
    min-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    justify-self: center;
} 
#register-btn-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-top: 10%;
    padding: none;
}
#nickname {
    background-color: rgba(51, 255, 61, 0.3);
}
#wrap-r {
    position: absolute;
    bottom: 10%;
    width: 25%;
}
#register {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.496);
    border: none;
}
#register:hover {
    border: 1px solid white;
    color: white;
}
#register:active {
    border: none;
    color: green;
}
#wrap-l {
    position: absolute; 
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}
#login {
    position: absolute;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.044);
}
#login:hover {
    color:rgba(206, 166, 106, 0.689)
}
#login:active {
    color: white;
}
#register-status {
    position: absolute;
    bottom: 20%;
    color: rgb(72, 72, 72);
}
#wrap-rs {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
#login-status {
    color: rgb(184, 184, 184, 0.5);
}
#wrap-ls {
    position: absolute; 
    bottom: 20%;
    width: 100%;
    display: flex; 
    justify-content: center;
}